@using MvcOnlineTicariOtomsayon.Models.Siniflar
@model List<Cari>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<table class="table table-striped">
    <tr>
        <th>Cari ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Mail</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <th>@x.CariID</th>
            <th>@x.CariAd</th>
            <th>@x.CariSoyad</th>
            <th>@x.CariSehir</th>
            <th>@x.CariMail</th>
            <th><a href="/Cari/CariSil/@x.CariID" class="btn btn-danger">Sil</a></th>
            <th><a href="/Cari/CariGetir/@x.CariID" class="btn btn-warning">Güncelle</a></th>
            <th><a href="/Cari/MusteriSatis/@x.CariID" class="btn btn-default" style="background-color:lightseagreen">Satış Geşmişi</a></th>
        </tr>
    }
</table>
<a href="/Cari/YeniCari/" class="btn btn-info">Yeni Cari Ekle</a>

